{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<main class="container py-5 text-center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>
                    {% for vals in data if vals.shares != 0 %}

                <tr>
                    <td class="text-start">{{ vals.symbol }}</td>
                    <td class="text-end">{{ vals.shares }}</td>
                    <td class="text-end">{{ (vals.symbol | lookup).price | usd }}</td>
                    <td class="text-end">{{ (((vals.symbol | lookup).price) * (vals.shares)) | usd }}</td>
                </tr>
                    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{money | usd}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{(money + fake) | usd}}</td>
            </tr>
        </tfoot>
    </table>

        </main>


{% endblock %}
